{% extends "inventoryapp/base.html" %}


{% block title %} Profile {% endblock %}

{% block content %}

    <div class="center-align-less-width">

        Name : {{ user_profile.username|capfirst }}
        {% filter linebreaks %}{% endfilter %}
        Email : {{ user_profile.email }}
        {% filter linebreaks %}{% endfilter %}
        Address : {{ user_profile.address }}
        {% filter linebreaks %}{% endfilter %}
        gender : {{ user_profile.gender|capfirst }}
        {% filter linebreaks|linebreaks %}
        {%  endfilter %}
        <a href="{% url 'edit_profile' %}"> Edit </a>
        {% filter linebreaks|linebreaks %}
        {%  endfilter %}

    </div>

{% endblock %}