<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventoryapp/style.css' %}" />
    <title></title>
</head>
<body>

    <div class="center-align-less-width">

        Name : {{ user_profile.username|capfirst }}
        {% filter linebreaks %}{% endfilter %}
        Email : {{ user_profile.email }}
        {% filter linebreaks %}{% endfilter %}
        Address : {{ user_profile.address }}
        {% filter linebreaks %}{% endfilter %}
        gender : {{ user_profile.gender|capfirst }}
        {% filter linebreaks|linebreaks %}
        {%  endfilter %}
        <a href="{% url 'edit_profile' %}"> Edit </a>
        {% filter linebreaks|linebreaks %}
        {%  endfilter %}

    </div>

</body>
</html>