{% extends "inventoryapp/base.html" %}

{% block title %} Search {% endblock %}

{% block content %}

    <div class="center-align-less-width">

         <form action="{% url 'user_search' %}" method="post">
             {% csrf_token %}
             {{ user_search_form }}
             <br/>
             <input type="submit"  style='float:right;' value="Search">
         </form>
    </div>

    <div class="center-align-form">
        <br/><br/>
        {% if users|default:False %}
            <table border="1">
            <tr>

            {% if result_basis == "username" or not result_basis %}
                <td>User Name</td>
            {% endif %}

            {% if result_basis == "email" or not result_basis %}
                <td>Email Address</td>
            {% endif %}

            {% if result_basis == "userprofile__address" or not result_basis %}
                <td>Address</td>
            {% endif %}

            {% if result_basis == "userprofile__gender" or not result_basis %}
                <td>Gender</td>
            {% endif %}

            {% if result_basis == "date_joined" or not result_basis %}
                <td>Joining Date</td>
            {% endif %}


                </tr>
                {% for user in users %}
                    <tr>

                        {% if user.username %}
                            <td>
                                {{ user.username}}
                            </td>
                        {% endif %}

                        {% if user.email %}
                            <td>
                                {{ user.email}}
                            </td>
                        {% endif %}

                        {% if user.userprofile.address %}
                            <td>
                                {{ user.userprofile.address }}
                            </td>
                        {% elif user.userprofile__address %}
                            <td>
                                {{ user.userprofile__address }}
                            </td>
                        {% endif %}

                        {% if user.userprofile.gender %}
                            <td>
                                {{ user.userprofile.gender }}
                            </td>
                        {% elif user.userprofile__gender %}
                            <td>
                                {{ user.userprofile__gender }}
                            </td>
                        {% endif %}

                        {% if user.date_joined  %}
                            <td>
                                {{ user.date_joined  }}
                            </td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <br/><br/>
            <h3 class="center-align-text"> no results </h3>

        {% endif %}
    </div>

{% endblock %}