{% extends "inventoryapp/base.html" %}


{% block title %} Sales {% endblock %}

{% block content %}

    <h3 class="center-align"><a class="no-decoration" href="{% url 'account' %}">Back to Home</a></h3>


    {% if all_sales %}

        <table border="1" class="center-align">

            <tr>
                <td>
                    Customer's Name
                </td>

                <td>
                    Customer's Email
                </td>

                <td>
                    Product Name
                </td>
                <td>
                    Type
                </td>
                <td>
                    Brand
                </td>
                <td>
                    Units
                </td>
                <td>
                    Price($)
                </td>
                <td>
                    Sold Date
                </td>
                <td>
                    Profit($)
                </td>
            </tr>

            {% for sale in all_sales %}

                <tr>
                    <td>
                        {{ sale.user.username|default:'Nil' }}
                    </td>

                    <td>
                        {{ sale.user.email|default:'Nil' }}
                    </td>

                    <td>
                        {{ sale.product.name|default:'Nil' }}
                    </td>

                    <td>
                        {{ sale.product.kind|default:'Nil' }}
                    </td>

                    <td>
                        {{ sale.product.brand|default:'Nil' }}
                    </td>

                    <td>
                        {{ sale.units|default:'Nil' }}
                    </td>

                    <td>
                        {{ sale.product.get_unit_selling_price|default:'Nil' }}
                    </td>

                    <td>
                        {{ sale.sold_on|default:'Nil' }}
                    </td>

                    <td>
                        {{ sale.profit|default:'Nil' }}
                    </td>

                </tr>

            {% endfor %}

        </table>

    {% else %}

        <h2> Didn't sell anything yet! </h2>

    {% endif %}

{% endblock %}