<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h3 style="margin-left: auto;margin-right: auto; width:75%;"><a style="text-decoration: none;" href="{% url 'account' %}">Back to Home</a></h3>

{% if top_five_customers %}

    <table border="1" style="margin-left: auto;margin-right: auto; width:75%;">

        <tr>
            <td>
                Name
            </td>

            <td>
                Email
            </td>

            <td>
                Ordered Units
            </td>

        </tr>

        {% for customer in top_five_customers %}

            <tr>

                <td>
                    {{ customer.user__username|default:"Nill" }}
                </td>

                <td>
                    {{ customer.user__email|default:"Nill" }}
                </td>

                <td>
                    {{ customer.units|default:"Nill" }}
                </td>

            </tr>

        {% endfor %}

    </table>
{% else %}

    <h3> Customers did not ordered yet! </h3>

{% endif %}

</body>
</html>