<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h3 style="margin-left: auto;margin-right: auto; width:75%;"><a style="text-decoration: none; text-align: center" href="{% url 'account' %}">Back to Home</a></h3>


{% if all_sales %}

    <table border="1" style="margin-left: auto;margin-right: auto;width: 75%">

        <tr>
            <td>
                Customer's Name
            </td>

            <td>
                Customer's Email
            </td>

            <td>
                Product Name
            </td>
            <td>
                Type
            </td>
            <td>
                Brand
            </td>
            <td>
                Units
            </td>
            <td>
                Price($)
            </td>
            <td>
                Sold Date
            </td>
            <td>
                Profit($)
            </td>
        </tr>

        {% for sale in all_sales %}

            <tr>
                <td>
                    {{ sale.user.username|default:'Nil' }}
                </td>

                <td>
                    {{ sale.user.email|default:'Nil' }}
                </td>

                <td>
                    {{ sale.product.product_name|default:'Nil' }}
                </td>

                <td>
                    {{ sale.product.type|default:'Nil' }}
                </td>

                <td>
                    {{ sale.product.brand|default:'Nil' }}
                </td>

                <td>
                    {{ sale.units|default:'Nil' }}
                </td>

                <td>
                    {{ sale.product.get_unit_selling_price|default:'Nil' }}
                </td>

                <td>
                    {{ sale.sold_date|default:'Nil' }}
                </td>

                <td>
                    {{ sale.profit|default:'Nil' }}
                </td>

            </tr>

        {% endfor %}

    </table>

{% else %}

    <h2> Didn't sell anything yet! </h2>

{% endif %}


</body>
</html>