{% extends "inventoryapp/base.html" %}


{% block title %} Orders {% endblock %}

{% block content %}

    <h3 class="center-align"><a class="no-decoration" href="{% url 'account' %}">Back to Home</a></h3>

    {% if reservations %}

        <table border="1" class="center-align">

            <tr>
                <td>
                    Product Name
                </td>
                <td>
                    Type
                </td>
                <td>
                    Brand
                </td>
                <td>
                    Units
                </td>
                <td>
                    Price($)
                </td>
                <td>
                    Order Date
                </td>
            </tr>

            {% for reservation in reservations %}

                <tr>

                    <td>
                        {{ reservation.product.name|default:'Nil' }}
                    </td>

                    <td>
                        {{ reservation.product.kind|default:'Nil' }}
                    </td>

                    <td>
                        {{ reservation.product.brand|default:'Nil' }}
                    </td>

                    <td>
                        {{ reservation.ordered_units|default:'Nil' }}
                    </td>

                    <td>
                        {{ reservation.price|default:'Nil' }}
                    </td>

                    <td>
                        {{ reservation.ordered_on|default:'Nil' }}
                    </td>

                    <td>
                        <form action="{% url 'orders' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="reservation_id" value='{{ reservation.id|default:'' }}'>
                            <input type="submit" value="Pay" class="fill-parent-element">
                        </form>
                    </td>

                </tr>

            {% endfor %}

        </table>

    {% else %}

        <h2> Didn't order anything yet! </h2>

    {% endif %}

{% endblock %}