{% extends "inventoryapp/base.html" %}


{% block title %} Top Customers {% endblock %}

{% block content %}

<h3 class="center-align"><a class="no-decoration" href="{% url 'account' %}">Back to Home</a></h3>

{% if top_five_customers %}

    <table border="1" class="center-align">

        <tr>
            <td>
                Name
            </td>

            <td>
                Email
            </td>

            <td>
                Ordered Units
            </td>

        </tr>

        {% for customer in top_five_customers %}

            <tr>

                <td>
                    {{ customer.user__username|default:"Nill" }}
                </td>

                <td>
                    {{ customer.user__email|default:"Nill" }}
                </td>

                <td>
                    {{ customer.units|default:"Nill" }}
                </td>

            </tr>

        {% endfor %}

    </table>
{% else %}

    <h3> Customers did not ordered yet! </h3>

{% endif %}

{% endblock %}