<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<h3 style="margin-left: auto;margin-right: auto; width:75%;"><a style="text-decoration: none;" href="{% url 'account' %}">Back to Home</a></h3>

{% if products %}

    <table border="1" style="margin-left: auto;margin-right: auto; width:75%;">

    <tr>
        <td>
            Product Name
        </td>
        <td>
            Type
        </td>
        <td>
            Brand
        </td>
        <td>
            Units
        </td>
        <td>
            Price($)
        </td>
        <td>
            Date Added
        </td>
    </tr>

    {% for product in products %}

        <tr>
            <td>
                {{ product.name|default:'Nil' }}
            </td>

            <td>
                {{ product.kind|default:'Nil' }}
            </td>

            <td>
                {{ product.brand|default:'Nil' }}
            </td>

            <td>
                {{ product.units|default:'Nil' }}
            </td>

            <td>
                {{ product.get_unit_selling_price|default:'Nil' }}
            </td>

            <td>
                 {{ product.added_on|default:'Nil' }}
            </td>

            {% if product.units == 0 %}
                <td>
                    out of stock
                </td>
            {% else %}
                <td>
                    <form action="{% url 'order' %}" method="get">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value='{{ product.id|default:'' }}'>
                        <input style="width: 100%;" type="submit" value="Order">
                    </form>
                </td>
            {% endif %}


        </tr>

    {% endfor %}

    </table>

{% else %}

    <h2> No products to buy! </h2>

{% endif %}

</body>
</html>